body{
	background-color: #fcf7f2;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	height: 800%;
	line-height: 1;
}
header{
	padding: 20px 40px;
	overflow: hidden;
}
header #links-container{
	float: right;
}
header a{
	margin-left: 10px;
	color: #605f83;
	letter-spacing: 2px;
}
#wrapper{
	position: relative;
	height: 90%;
	padding-top:10%; 
}
#hint {
	padding: 50px;
	color: #ccc;
	letter-spacing: 2px;
}
.message{
	padding-left: 50px;
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	font-size: 28px;
	white-space: pre;
}
.message#part2{
	position: absolute;
	left: 0;
	bottom: 7%;	
}
.message#part1{
	position: fixed;
	top: 30%;
}
