<!DOCTYPE html>
<html>
<head>
	<title>AngelaDuoduo</title>
	<meta charset="utf-8" />
	<link type="text/css" rel="stylesheet" href="css/reset.css">
	<link type="text/css" rel="stylesheet" href="css/alert_confirm_prompt.css" />
</head>
<body>
	<input type="button" value="alert" class="btn btn-primary alert-test" />
	<input type="button" value="alert" class="btn btn-primary alert-test" />
	<input type="button" value="confirm" class="btn btn-primary confirm-test" />
	<input type="button" value="prompt" class="btn btn-primary prompt-test" />
	
	<script type="text/javascript" src="js/require.js" data-main="js/main"></script>
</body>
<html>